@import url("https://fonts.googleapis.com/css?family=Quicksand:700|Khula:400");

/* body {
	width: 100%;
} */
:root {
	--primary: #fe460b;
	--secondary: #f19f7f;
	--success: #4caf50;
	--info: #2196f3;
	--warning: #ff9800;
	--danger: #f44336;
	--light: #fcf7f2;
	--dark: #0c0803;
}
:root[data-theme="light"] {
	--text: #090402;
	--background: var(--light);
	--accent: #fa743e;
}
:root[data-theme="dark"] {
	--text: #fdf8f7;
	--background: var(--dark);
	--accent: #c23b05;
}
.my-text {
	font-size: 1.3vw;
	line-height: 150%;
}
.my-heading {
	font-size: 2vw;
}
.my-subheading {
	font-size: 1.5vw;
	line-height: 100%;
}
.my-small-text {
	font-size: 1.1vw;
	line-height: 100%;
}
@media (max-width: 768px) {
	.my-heading {
		font-size: 4vw;
		line-height: 1.2;
	}
	.my-subheading {
		font-size: 2.5vw;
		line-height: 1.4;
	}
	.my-text {
		font-size: 2.2vw;
		line-height: 1.5;
	}
	.my-small-text {
		font-size: 2vw;
		line-height: 1.6;
	}

	.caraousel-container .controlsContainer,
	.caraousel-container .controlsContainer1,
	.caraousel-container .controlsContainer2 {
		display: none !important;
		opacity: 0 !important;
	}
}
p {
	font-family: sans-serif;
}
.navbar-nav .nav-link {
	transition: all 0.25s linear;
}
a.navbar-brand:hover span {
	color: var(--dark);
}
.footerlogo a.navbar-brand:hover b {
	color: var(--bs-secondary-bg);
}
a.navbar-brand:hover b {
	color: var(--bs-primary);
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
	color: var(--background) !important;
	background-color: var(--bs-primary) !important;
}
.navbar-toggler-icon:hover.navbar-toggler-icon:focus {
	color: var(--bs-primary);
}
.dropdown:hover > .dropdown-menu {
	display: block;
}
.dropdown > .dropdown-toggle:active {
	pointer-events: none;
}
.dropdown-item {
	color: var(--text);
	transition: all 0.15s linear;
}
.dropdown-item:hover {
	background-color: var(--primary);
	color: var(--background);
}
.card {
	display: block;
}

.card-img-top {
	transition: all 0.5s ease-in-out;
}
.card-body {
	opacity: 0;
	position: absolute;
	transition: all 0.4s ease-in-out;
	bottom: 0px;
}

.card:hover .card-img-top {
	filter: brightness(50%);
}
.card:hover .card-body {
	display: block;
	opacity: 1;
	bottom: 5%;
}
.caraousel-container {
	position: relative;
	/* margin-top: 2px; */
}
.caraousel-container .controlsContainer,
.caraousel-container .controlsContainer1,
.caraousel-container .controlsContainer2 {
	position: absolute;
	bottom: 50%;
	pointer-events: none;
}
.controlsContainer .btn,
.controlsContainer1 .btn,
.controlsContainer2 .btn {
	pointer-events: all;
	transition: all 0.5s ease-in-out;
	opacity: 0;
	width: unset;
}
.caraousel-container:hover .controlsContainer > .btn,
.caraousel-container:hover .controlsContainer1 > .btn,
.caraousel-container:hover .controlsContainer2 > .btn {
	opacity: 1;
}
.blog-post {
	box-shadow: 8px 8px 0 rgba(var(--bs-link-hover-color-rgb), 0.07);
}
.itemThumbs {
	overflow: hidden;
}
.itemThumbs img {
	transition: all 0.3s ease-in-out;
}
.itemThumbs:hover img.zoom {
	transform: scale(1.05);
}
.meta div {
	border-bottom: 1px solid var(--bs-primary);
}
.meta div a {
	color: var(--bs-gray-700);
	transition: all 0.2s ease-in-out;
}
.meta div a:hover {
	color: var(--bs-primary);
}
.link-header {
	color: var(--bs-gray-700);
	transition: all 0.2s ease-in;
}
.link-header:hover {
	color: var(--bs-primary);
}
.blog-post-text {
	text-align: justify;
}
hr {
	background-color: var(--bs-gray-500);
}
.blog-post-bottom {
	width: 90%;
}
.list-group-item-action {
	color: var(--bs-gray-600);
	pointer-events: none;
}
.list-group-item-action a {
	pointer-events: all;
	color: inherit;
}
.list-group-item-action a:hover {
	color: var(--bs-primary);
}
.readmore-link {
	color: black;
	border-bottom: 2px solid var(--bs-primary);
	/* height: 50px; */
	padding-bottom: 10px;
}
div.readmore-link a {
	color: var(--bs-gray-700);
}
div.readmore-link a:hover {
	color: var(--bs-primary);
}
.itemThumbs iframe {
	height: 500px;
	width: 100%;
}
.sidebar-head .readmore-link {
	border-bottom: 3px solid var(--bs-primary);
}
.social-icons li {
	text-align: center;
	background-color: transparent;
	border: 0px;
}
.social-icons ul {
	width: 100%;
}
.sidebar-post-text img.circular {
	border: 1px solid var(--bs-primary);
	object-fit: cover;
	object-position: center;
}
li.list-group-item {
	gap: 10px;
}
ul.sidebar-post-small-post li,
ul.category li {
	background-color: unset;
}
.post-text-bottom {
	gap: 5px;
}
.post-text-bottom div {
	gap: 3px;
	background-color: var(--bs-gray-200);
	color: var(--primary);
	padding: 5px;
	border-radius: 3px;
}
div.cat-name,
div.cat-post-number {
	height: unset;
	flex: 0;
}
.dots {
	height: 3px;
	flex-grow: 1;
	border-bottom: 3px dotted var(--bs-gray-400);
}
.active {
	background-color: var(--primary) !important;
	border-color: unset !important;
}
.btn-secondary {
	--bs-btn-color: var(--bs-secondary-bg);
	--bs-btn-bg: var(--bs-link-color);
	--bs-btn-border-color: var(--bs-secondary-bg);
	--bs-btn-hover-color: var(--bs-link-color);
	--bs-btn-hover-bg: var(--bs-secondary-bg);
	--bs-btn-hover-border-color: var(--bs-secondary-bg);
	--bs-btn-focus-shadow-rgb: 130, 138, 145;
}
.social-icons a {
	width: 50px;
	height: 50px;
}
.social-icons > a i {
	width: 100%;
	height: 100%;
}
p.my-small-text {
	color: var(--bs-gray-600);
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
	line-height: 130%;
}
div.square-container {
	pointer-events: none;
}
a.square-container {
	pointer-events: all;
}
.square-container {
	min-width: 50px; /* Set a minimum width for the square */
	min-height: 50px; /* Set a minimum height for the square */
}
