@import url("https://fonts.googleapis.com/css?family=Quicksand:700|Khula:400");

body {
	width: 100%;
	height: 1000px;
}
:root {
	--primary: #fe460b;
	--secondary: #f19f7f;
	--success: #4caf50;
	--info: #2196f3;
	--warning: #ff9800;
	--danger: #f44336;
	--light: #fcf7f2;
	--dark: #0c0803;
}

:root[data-theme="light"] {
	--text: #090402;
	--background: var(--light);
	--accent: #fa743e;
}

:root[data-theme="dark"] {
	--text: #fdf8f7;
	--background: var(--dark);
	--accent: #c23b05;
}

nav {
	background-color: var(--background);
	color: var(--text);
	border-bottom: 3px solid var(--primary);
}

.text-dot {
	color: var(--text);
}

.navbar-brand {
	color: var(--primary);
	font-weight: bold;
}

.navbar-nav .nav-link {
	color: var(--text);
	font-weight: bold;
	transition: all 0.25s linear;
}
.navbar-nav {
	gap: 5px;
}
.navbar-nav .nav-link:hover {
	color: var(--background);
	background-color: var(--primary);
}

.navbar-toggler-icon:hover.navbar-toggler-icon:focus {
	color: var(--primary);
}

.dropdown-menu {
	background-color: var(--background);
	color: var(--text);
	transition: all 0.25s linear;
}
.dropdown:hover > .dropdown-menu {
	display: block;
}

.dropdown > .dropdown-toggle:active {
	pointer-events: none;
}
.dropdown-item {
	color: var(--text);
	transition: all 0.15s linear;
}

.dropdown-item:hover {
	background-color: var(--primary);
	color: var(--background);
}

.card {
	display: block;
	position: relative;
	border: 0px;
}

.card-img-top {
	transition: all 0.5s ease-in-out;
	display: block;
}

.card-body {
	width: 100%;
	font-size: max(0.7rem, 1vw);
	opacity: 0;
	position: absolute;
	transition: all 0.4s ease-in-out;
	bottom: 0px;
}

.card:hover .card-img-top {
	filter: brightness(50%);
}
.card:hover .card-body {
	display: block;
	opacity: 1;
	bottom: 5%;
}
.caraousel-container {
	position: relative;
	margin-top: 10px;
}
.caraousel-container .controlsContainer,
.caraousel-container .controlsContainer1,
.caraousel-container .controlsContainer2 {
	position: absolute;
	bottom: 50%;
	display: flex;
	justify-content: space-between;
	width: 100%;
	pointer-events: none;
}
.controlsContainer .btn,
.controlsContainer1 .btn,
.controlsContainer2 .btn {
	pointer-events: all;
	transition: all 0.5s ease-in-out;
	opacity: 0;
	width: unset;
}

.caraousel-container:hover .controlsContainer > .btn,
.caraousel-container:hover .controlsContainer1 > .btn,
.caraousel-container:hover .controlsContainer2 > .btn {
	opacity: 1;
}
section#body-content {
	margin-top: 20px;
	padding: 0px 7%;
}
.blog-post {
	background-color: white;
	margin-top: 30px;
	box-shadow: 8px 8px 0 rgba(var(--bs-link-hover-color-rgb), 0.07);
}
.itemThumbs {
	overflow: hidden;
}
.itemThumbs img {
	width: 100%;

	transition: all 0.3s ease-in-out;
}
.itemThumbs:hover img.zoom {
	transform: scale(1.05);
}
.blog-outer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
	gap: 10px;
}
.blog-outer .meta {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	width: 60%;
}

.meta span {
	height: 30px;
	border-bottom: 1px solid var(--primary);
	color: var(--bs-gray-800);
}
.meta span a {
	color: var(--bs-gray-800);
	transition: all 0.2s ease-in-out;
}
.meta span a:hover {
	color: var(--bs-primary);
}
.blog-title {
	margin: 0px 10px;
}
.link-header {
	color: var(--text);
	font-size: 1.8rem;
	transition: all 0.2s ease-in;
}
.link-header:hover {
	color: var(--secondary);
}
.author-panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	overflow: hidden;
}
.author-panel img {
	width: 15%;
}
.circular {
	border-radius: 50%;
}
p {
	font-family: sans-serif;
}
.blog-post-text {
	width: 90%;
	font-family: sans-serif;
	font-size: small;
	text-align: justify;
}
hr {
	width: 90%;
	background-color: #fcf7f2;
}
.blog-post-bottom {
	display: flex;
	justify-content: space-between;
	width: 90%;
}
.list-group-item-action {
	background-color: transparent;
	border: 0px;
	color: grey;
	border-radius: 5px;
	margin: 0px 3px;
	pointer-events: none;
}
.list-group-item-action a {
	pointer-events: all;
	color: inherit;
}
.list-group-item-action a:hover {
	color: var(--accent);
}
.readmore-link {
	color: black;
	border-bottom: 2px solid var(--secondary);
	height: 50px;
}

div.readmore-link a {
	color: var(--bs-black);
}
div.readmore-link a:hover {
	color: var(--primary);
}
.itemThumbs * {
	width: 100%;
}
.itemThumbs iframe {
	height: 500px;
}
#responsive1 img {
	object-fit: cover;
	object-position: center;
}
.sidebar-head {
	width: 100%;
	padding-top: 10px;
	display: flex;
	justify-content: center;
}
.sidebar-head .readmore-link {
	text-align: center;
	height: 30px;
	border-bottom: 3px solid var(--primary);
}

.social-icons li {
	margin: 0px;
	padding: 5px;
	text-align: center;
}

.social-icons ul {
	width: 100%;
}
.sidebar-post {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.sidebar-post-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
	gap: 10px;
	width: 90%;
	padding: 5px;
}
.sidebar-post-text p {
	text-align: center;
	color: var(--bs-gray-600);
}
.sidebar-post-text img.circular {
	background-color: var(--bs-tertiary-bg);
	width: 30%;
	border: 1px solid var(--bs-primary);
	object-fit: cover;
	object-position: center;
}
.sidebar-post-text form {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	gap: 10px;
}
.input-group {
	width: 100%;
}
.input-group input {
	width: 100%;
}
li.list-group-item {
	gap: 10px;
}
li.list-group-item div.image-thumb,
li.list-group-item div.post-text {
	width: 50%;
}
li.list-group-item img {
	width: 100%;
}
ul.sidebar-post-small-post li,
ul.category li {
	background-color: unset;
}
.post-text-bottom {
	gap: 5px;
}
.post-text-bottom div {
	gap: 3px;
	background-color: var(--bs-gray-200);
	color: var(--primary);
	padding: 5px;
	border-radius: 3px;
}
div.cat-name,
div.cat-post-number {
	height: unset;
	border: 0px;
	flex: 0;
}
.dots {
	height: 3px;
	flex-grow: 1;
	border-bottom: 3px dotted var(--bs-gray-200);
}
.active {
	background-color: var(--primary) !important;
	border-color: unset !important;
}
